In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\USER\Desktop\prog/Python/ogoxi\Loire-Cher-Indre\Loire-Cher-Indre\Loire Forezienne\merged.csv", sep=";",parse_dates=["Date"],index_col="Date")

ModuleNotFoundError: No module named 'pandas'

In [8]:
df.head()

,K0567520,K0614010,K0744010,K0643110,K0663310,K0673310,K0700010,H (cm),K0624510,K0753210,K0773220,K0813020
Date,,,,,,,,,,,,
2009-12-30 00:00:00,NaN,NaN,NaN,NaN,38.0,NaN,-107.2,NaN,NaN,NaN,NaN,NaN
2009-12-30 00:12:00,NaN,NaN,NaN,NaN,37.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-30 00:15:00,50.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-30 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,-107.4,NaN,NaN,NaN,NaN,NaN
2009-12-30 00:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
import matplotlib
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (20,10)
df_hours_mean = df.resample('60T').mean()
df_interpolate = df_hours_mean.interpolate(method="time")
df_interpolate = df_interpolate.dropna()
df_interpolate
#df['2015-01-01':'2016-01-01'].plot()
#df_hours_mean

,K0567520,K0614010,K0744010,K0643110,K0663310,K0673310,K0700010,H (cm),K0624510,K0753210,K0773220,K0813020
Date,,,,,,,,,,,,
2015-12-01 11:00:00,62.350000,34.100000,20.758824,12.500000,33.303333,51.300000,-113.3,61.540000,33.20000,115.600000,93.257143,43.040000
2015-12-01 12:00:00,62.800000,34.350000,20.682353,12.496296,33.266667,51.300000,-113.3,61.360000,33.18125,115.000000,93.171429,42.880000
2015-12-01 13:00:00,62.250000,34.600000,20.605882,12.492593,33.230000,51.300000,-113.3,61.180000,33.16250,114.975000,93.085714,42.720000
2015-12-01 14:00:00,62.700000,35.200000,20.529412,12.488889,33.193333,51.300000,-113.3,61.000000,33.14375,114.950000,93.000000,42.560000
2015-12-01 15:00:00,62.533333,34.300000,20.452941,12.485185,33.156667,51.266667,-113.3,60.940000,33.12500,115.733333,92.800000,42.400000
2015-12-01 16:00:00,62.366667,34.400000,20.376471,12.481481,33.120000,51.233333,-113.3,60.880000,33.10625,115.500000,93.100000,42.500000
2015-12-01 17:00:00,62.483333,34.500000,20.300000,12.477778,33.083333,51.200000,-113.3,60.820000,33.08750,115.400000,92.700000,42.400000
2015-12-01 18:00:00,62.600000,34.050000,20.350000,12.474074,33.046667,51.100000,-113.3,60.760000,33.06875,115.800000,92.800000,42.300000
2015-12-01 19:00:00,62.900000,33.600000,20.400000,12.470370,33.010000,51.100000,-113.3,60.700000,33.05000,115.250000,92.900000,42.200000
2015-12-01 20:00:00,63.200000,33.800000,20.520000,12.466667,32.973333,51.200000,-113.3,60.466667,33.03125,114.700000,93.300000,42.100000
2015-12-01 21:00:00,63.300000,34.600000,20.640000,12.462963,32.936667,51.100000,-113.3,60.233333,33.01250,116.200000,93.100000,42.000000
2015-12-01 22:00:00,63.400000,34.650000,20.760000,12.459259,32.900000,51.100000,-113.3,60.000000,32.99375,115.600000,92.900000,41.950000
2015-12-01 23:00:00,63.300000,34.700000,20.880000,12.455556,32.891667,50.950000,-113.3,59.800000,32.97500,115.600000,92.950000,41.900000
2015-12-02 00:00:00,63.600000,34.266667,21.000000,12.451852,32.883333,50.800000,-113.3,59.600000,32.95625,114.800000,93.000000,41.750000
2015-12-02 01:00:00,63.450000,33.833333,21.000000,12.448148,32.875000,50.800000,-113.3,59.400000,32.93750,115.200000,92.650000,41.600000
2015-12-02 02:00:00,63.300000,33.400000,21.000000,12.444444,32.866667,50.800000,-113.3,59.400000,32.91875,115.200000,92.300000,41.600000
2015-12-02 03:00:00,63.900000,32.966667,20.883333,12.440741,32.858333,50.800000,-113.3,59.200000,32.90000,116.100000,93.000000,41.600000
2015-12-02 04:00:00,63.100000,32.533333,20.766667,12.437037,32.850000,50.800000,-113.3,59.000000,32.90000,114.800000,92.600000,41.600000
2015-12-02 05:00:00,63.033333,32.100000,20.650000,12.433333,32.841667,50.500000,-113.3,58.966667,32.90000,114.450000,92.800000,41.400000
2015-12-02 06:00:00,62.966667,31.800000,20.533333,12.429630,32.833333,50.400000,-113.3,58.933333,32.90000,114.300000,93.000000,41.200000
2015-12-02 07:00:00,62.783333,31.500000,20.416667,12.425926,32.825000,50.350000,-113.3,58.900000,32.90000,113.900000,92.750000,41.000000
2015-12-02 08:00:00,62.600000,31.633333,20.300000,12.422222,32.816667,50.300000,-113.3,58.700000,32.90000,114.300000,92.500000,40.800000
2015-12-02 09:00:00,61.750000,31.766667,20.225000,12.418519,32.808333,50.250000,-113.3,58.500000,32.90000,114.350000,92.800000,40.900000
2015-12-02 10:00:00,62.150000,31.900000,20.150000,12.414815,32.800000,50.200000,-113.3,58.400000,32.90000,114.400000,92.200000,41.100000
2015-12-02 11:00:00,60.800000,32.850000,20.075000,12.411111,32.800000,50.200000,-113.3,58.300000,32.90000,113.400000,91.900000,40.875000
2015-12-02 12:00:00,60.733333,32.700000,20.000000,12.407407,32.800000,50.200000,-113.3,57.900000,32.86250,113.675000,91.900000,40.650000
2015-12-02 13:00:00,60.766667,33.150000,19.900000,12.403704,32.786957,50.200000,-113.3,57.950000,32.82500,113.950000,92.400000,40.425000
2015-12-02 14:00:00,60.800000,34.200000,20.066667,12.400000,32.773913,50.200000,-113.3,58.000000,32.78750,113.750000,92.000000,40.200000
2015-12-02 15:00:00,59.700000,33.800000,20.233333,12.355000,32.760870,50.200000,-113.3,58.050000,32.75000,113.000000,91.600000,40.700000
2015-12-02 16:00:00,60.166667,34.050000,20.400000,12.310000,32.747826,50.200000,-113.3,58.100000,32.71250,113.100000,91.900000,40.750000
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-09-10 18:00:00,26.200000,21.100000,-1.266667,9.200000,15.250000,42.900000,-113.3,34.966667,40.30000,81.820000,74.107692,15.260000
2018-09-10 19:00:00,26.000000,20.966667,-1.300000,9.200000,15.250000,43.400000,-113.3,34.811111,40.30000,81.860000,74.023077,15.220000
2018-09-10 20:00:00,26.600000,20.833333,-1.333333,9.200000,15.170000,42.500000,-113.3,34.655556,40.30000,81.900000,73.938462,15.180000
2018-09-10 21:00:00,27.200000,20.700000,-1.366667,9.200000,15.090000,43.500000,-113.3,34.500000,40.30000,82.800000,73.853846,15.140000
2018-09-10 22:00:00,26.950000,21.350000,-1.400000,9.200000,15.010000,44.050000,-113.3,34.625000,40.30000,82.840000,73.769231,15.100000
2018-09-10 23:00:00,26.700000,22.000000,-1.400000,9.000000,14.930000,43.933333,-113.3,34.750000,40.30000,82.880000,73.684615,15.066667
2018-09-11 00:00:00,26.300000,21.342857,-1.400000,8.800000,14.850000,43.816667,-113.3,34.875000,40.30000,82.920000,73.600000,15.033333
2018-09-11 01:00:00,26.500000,20.685714,-1.400000,8.733333,14.850000,43.700000,-113.3,35.000000,40.30000,82.960000,73.900000,15.000000
2018-09-11 02:00:00,26.100000,20.028571,-1.400000,8.666667,14.850000,44.500000,-113.3,35.125000,40.30000,83.000000,74.200000,14.983333
2018-09-11 03:00:00,26.450000,19.371429,-1.400000,8.600000,14.850000,44.540000,-113.3,35.250000,40.30000,82.700000,74.109091,14.966667
2018-09-11 04:00:00,26.650000,18.714286,-1.400000,8.600000,14.850000,44.580000,-113.3,35.375000,40.30000,82.400000,74.018182,14.950000
2018-09-11 05:00:00,26.850000,18.057143,-1.200000,8.600000,14.850000,44.620000,-113.3,35.500000,40.30000,82.100000,73.927273,14.933333
2018-09-11 06:00:00,27.050000,17.400000,-1.166667,8.600000,14.850000,44.660000,-113.3,35.625000,40.30000,82.100000,73.836364,14.916667
2018-09-11 07:00:00,26.875000,16.300000,-1.133333,8.800000,14.850000,44.700000,-113.3,35.750000,40.30000,82.200000,73.745455,14.900000
2018-09-11 08:00:00,26.700000,16.150000,-1.100000,9.000000,14.850000,42.900000,-113.3,35.875000,40.30000,82.000000,73.654545,14.820000
2018-09-11 09:00:00,26.616667,16.000000,-1.166667,9.033333,14.850000,43.050000,-113.3,36.000000,40.30000,82.600000,73.563636,14.740000
2018-09-11 10:00:00,26.533333,16.700000,-1.233333,9.066667,14.850000,43.125000,-113.3,35.812500,40.30000,82.500000,73.472727,14.660000
2018-09-11 11:00:00,26.450000,20.400000,-1.300000,9.100000,14.850000,43.200000,-113.3,35.625000,40.30000,82.000000,73.381818,14.580000
2018-09-11 12:00:00,28.150000,21.766667,-1.450000,9.085714,14.850000,43.050000,-113.3,35.437500,40.30000,81.466667,73.290909,14.500000
2018-09-11 13:00:00,26.900000,21.900000,-1.600000,9.071429,14.850000,42.900000,-113.3,35.250000,40.30000,81.200000,73.200000,14.475000
2018-09-11 14:00:00,26.800000,20.700000,-1.650000,9.057143,14.850000,41.600000,-113.3,35.062500,40.30000,81.050000,72.950000,14.450000
2018-09-11 15:00:00,26.150000,20.933333,-1.700000,9.042857,14.850000,41.400000,-113.3,34.875000,40.30000,80.900000,72.700000,14.425000
2018-09-11 16:00:00,25.500000,21.166667,-1.750000,9.028571,14.850000,42.500000,-113.3,34.687500,40.30000,81.050000,73.050000,14.400000
2018-09-11 17:00:00,24.850000,21.400000,-1.800000,9.014286,14.850000,40.800000,-113.3,34.500000,40.30000,81.200000,73.400000,14.425000
2018-09-11 18:00:00,24.200000,20.700000,-1.750000,9.000000,14.850000,41.450000,-113.3,34.566667,40.30000,81.200000,73.233333,14.450000
2018-09-11 19:00:00,24.150000,20.000000,-1.700000,8.960000,14.850000,42.100000,-113.3,34.633333,40.30000,81.750000,73.066667,14.475000
2018-09-11 20:00:00,24.100000,20.000000,-1.700000,8.920000,14.850000,41.200000,-113.3,34.700000,40.30000,82.300000,72.900000,14.500000
2018-09-11 21:00:00,24.000000,20.000000,-1.700000,8.880000,14.850000,40.300000,-113.3,34.766667,40.30000,82.250000,72.900000,14.466667
2018-09-11 22:00:00,23.900000,20.000000,-1.700000,8.840000,14.850000,40.300000,-113.3,34.833333,40.30000,82.200000,72.900000,14.433333
2018-09-11 23:00:00,23.900000,20.000000,-1.700000,8.800000,14.850000,40.300000,-113.3,34.900000,40.30000,81.900000,72.900000,14.400000

In [31]:
len(df_interpolate.index)

24373